
@{
    ViewBag.Title = "Index";
}

<h2>Papeleria Bellas Artes - Sitio de Administracion </h2>

//
<div>
    <img src="~/Imagenes/portada.jpg" alt="Papeleria Bellas Artes - Sitio de Administracion"/> 
</div>

